<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" tools:replace="android:maxSdkVersion" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/sparkle_purple"
        android:screenOrientation="portrait"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sparkle_purple"
        android:supportsRtl="true"
        android:theme="@style/Theme.CosplayPlanner"
        tools:targetApi="31">
        <activity
            android:name=".CosplayScreen"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CosplayNewActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".EventScreen"
            android:exported="true">
        </activity>
        <activity
            android:name=".EventNew"
            android:exported="true">
        </activity>
        <activity
            android:name=".EditEventActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".CosplayEditActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".DetailEditNew"
            android:exported="true">
        </activity>
        <activity
            android:name=".SettingScreen"
            android:exported="true">
        </activity>
        <activity
            android:name=".MaterialBase"
            android:exported="true">
        </activity>
        <activity
            android:name=".MaterialBaseEditNew"
            android:exported="true">
        </activity>
        <activity
            android:name=".MaterialPlanned"
            android:exported="true">
        </activity>
    </application>

</manifest>